.header{
  background-color: white;
  display: flex;
  align-items: center;
  position: fixed;
  height: 55px;
  width: 100%;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid rgb(235, 235, 235);
  justify-content: space-between;
}

.left{
  display: flex;
  align-items: center;
}

.ham{
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
  cursor: pointer;
}

.logo{
  height: 20px;
}

.mid{
  flex: 1;
  margin-right: 30px;
  margin-left: 70px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.searchbar{
  flex: 1;
  width: 0;
  height: 37px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 0.5px;
  border-radius: 2px 0 0 2px;
  border-style: solid;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.05);
  border-color: rgb(188, 186, 186);
  outline: none;
}

.searchbar::placeholder{
  font-family: Roboto, Arial;
  font-size: 16px;
}

.searchbut{
  height: 39.5px;
  border-radius: 0 2px 2px 0;
  width: 66px;
  border-style: solid;
  border-width: 0.5px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.05);
  border-color: rgb(188, 186, 186);
  background-color: rgb(248, 248, 248);
  cursor: pointer;
}

.searchbut, .voice, .upload, .apps, .noti{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.searchicon{
  height: 25px;
  margin-top: 4px;
}

.searchbut .tooltip, .voice .tooltip, .upload .tooltip, .apps .tooltip, .noti .tooltip{
  background-color: gray;
  color: white;
  pointer-events: none;
  white-space: nowrap;
  position: absolute;
  visibility: hidden;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: Roboto, Arial;
  border-radius: 4px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: 0.15s;
}

.searchbut:hover .tooltip,
.voice:hover .tooltip,
.upload:hover .tooltip,
.apps:hover .tooltip,
.noti:hover .tooltip{
  opacity: 1;
  visibility: visible;
}

.voice{
  height: 40px;
  width: 40px;
  margin-left: 8px;
  border-radius: 20px;
  background-color: rgb(248, 248, 248);
}

.voicebut{
  height: 24px;
  margin-top: 4px;
}

.right{
  width: 180px;
  flex-shrink: 0;
  margin-right: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.uploadicon{
  height: 24px;
}

.ytapps{
  height: 24px;
}

.notifications{
  height: 24px;
}

.channeldp{
  height: 32px;
  border-radius: 16px;
  cursor: pointer;
}

.noti{
  position: relative;
}

.count{
  position: absolute;
  z-index: 100;
  top: -2px;
  right: -5px;
  background-color: red;
  color: white;
  font-family: Roboto, Arial;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1.5px solid white;
  border-radius: 11px;
}
