.sidebar{
  position:fixed;
  background-color: white;
  top:50px;
  left:0;
  bottom:0;
  width:72px;
  z-index:300;
  padding-top:5px;
}
.side{
  height:88px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  cursor:pointer;

}
.side:hover{
  background-color: rgb(235, 234, 234);
}
.lefts{
  font-size:11.5px;
  text-align:center;
}
.side img{
  height:24px;
  margin-bottom:4px;
}
.side div{
  font-family:Roboto,Arial;
  font-size:10px;
}
