 .tp{
      width:36px;
      height:36px;
      border-radius:18px;
      object-fit:cover;
      object-position:center;
    }
    .pic-paras{
      display:grid;
      grid-template-columns:40px 1fr;
      column-gap:8px;
    }
    .pic{
      vertical-align: top;
      margin-top:8px;
    }
    .tn{
        width: 100%;
      }
.caption{
        width:250px;
        font-size:medium;
        font-weight:500;
        color:black;
        text-decoration: none;
        font-weight:bold;
        font-family:Roboto,Arial;

      }
      .author{
        color:rgb(133, 130, 130);
        margin-top:8px;
        font-size:small;
      }
        .views{
        display:inline-block;
        color:rgb(133, 130, 130);
        font-size:small;
      }

      .videogrid{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap:40px;
        column-gap:16px;

      }
      @media (max-width:750px) {
        .videogrid {
       grid-template-columns: 1fr 1fr;
      }
      }
       @media (min-width:1000px) {
        .videogrid {
       grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      }
      @media (min-width: 1000px) {
  .caption {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 1000px) {
  .author,
  .views {
    font-size: 14px;
  }
}
      .duration{
        background-color: black;
        color:white;
        position:absolute;
        bottom:10px;
        right:10px;
        font-family:Roboto,Arial;
        font-size:small;
        padding-right:3px;
        padding-left:3px;
        padding-top:3px;
        padding-bottom:3px;
        border-radius:2px;
      }
      .thumbnail{
        margin-bottom:8px;
        position:relative;
        background-color:white;
        width:200px;
      }
      .channel-tooltip{
        background-color: white;
        width: 200px;
        padding: 12px 12px;
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
        border-radius: 6px;
        position: absolute;
        z-index:1000;
        top: 55px;
        opacity: 0;
        display: flex;
        align-items: center;
        transition: opacity 0.15s;
        left:0;
      }
      .pic{
        position:relative;
        display:inline-block;
      }
      .pic:hover .channel-tooltip {
      opacity: 1;
      }
      .ctt-picture {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin-right: 8px;
        }
        .ctt-name {
          font-family: Roboto, Arial;
          font-weight: bold;
          font-size: 16px;
          margin-bottom: 4px;
        }

        .ctt-stats {
          font-family: Roboto, Arial;
          color: rgb(96, 96, 96);
          font-size: 14px;
        }



